<h1>Listing notifications</h1>

<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>From</th>
      <th>To</th>
      <th>Text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.type %></td>
        <td><%= notification.from %></td>
        <td><%= notification.to %></td>
        <td><%= notification.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>
