<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Una nueva manera de conocer gente y descubrir fiestas. Tenemos el listado mas completo de boliches y night clubs de Buenos Aires.">
    <title>Warmapp</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h3>Buenos Aires - 2015</h3>
            <br>
            <a id="download" href="<%= @link %>" class="btn btn-dark btn-lg">Descargar ahora</a>
        </div>
    </header>
    <script type="text/javascript">
      var anchor = document.getElementById("download");
      anchor.onclick = function(){
        window.location.href = "<%= download_path %>";
        return false;
      };
    </script>
</body>
</html>
